@import "./_variables";

.backward-button {
    cursor: pointer;
}

.button {
    cursor: pointer;
    border-radius: #{$base-radius};
    padding: #{$base-spacing * 1.5};
    border: 0;
    max-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    @each $colorName, $color in $colors {
        &.#{$colorName} {
            color: white;
            background: #{$color};
            border: 1px solid #{$color};
        }

        &.outline-#{$colorName} {
            color: #{$color};
            border:1px solid #{$color};
            background: white;
        }

        &.disabled {
            color: black;
            cursor: not-allowed;
            background: gray;
            border: 1px solid gray;
        }
    }
}