@use "sass:map";
@import "./_variables";                                                                                     

.form-container {
    .heading {
        display: flex;
        gap: #{$base-spacing};
        align-items: center;
    }

    .main {
        margin-top: #{$base-spacing};
        margin-bottom: #{$base-spacing};
    }

    .footer {
        display: flex;
        justify-content: flex-end;
    }

    .contact-form {
        width: 100%;

        .row {
            width: 100%;
        }   

    }
}